<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

    <title>Grad School HTML5 Template</title>

    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="/static/assets/css/lightbox.css">

  </head>

<body>
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><img src="/static/assets/images/alumin.png" /></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="{% url 'adminlogin' %}">Admin</a></li>
        <li><a href="{% url 'facultylogin' %}">Faculty</a></li>
        <li><a href="{% url 'studentlogin' %}">Student</a></li>
        <li><a href="{% url 'events' %}">Events</a></li>
        <li><a href="{% url 'gallery' %}">Gallery</a></li>


      </ul>
    </nav>
  </header>


  <section class="section main-banner" id="top" data-section="section1">
      <video autoplay muted loop id="bg-video">
          <source src="/static/assets/images/course-video.mp4" type="video/mp4" />
      </video>

      <div class="video-overlay header-text">
          <div class="caption">
              <h2>Welcome to Alumni</h2>


          </div>
      </div>
  </section>
</body>
</html>