<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">
  <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900" rel="stylesheet">

  <title>Grad School HTML5 Template</title>

  <!-- Bootstrap core CSS -->
  <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

  <!-- Additional CSS Files -->
  <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
  <link rel="stylesheet" href="/static/assets/css/templatemo-grad-school.css">
  <link rel="stylesheet" href="/static/assets/css/owl.css">
  <link rel="stylesheet" href="/static/assets/css/lightbox.css">

</head>

<body>


  <!--header-->
  <header class="main-header clearfix" role="header">
    <div class="logo">
      <a href="#"><img src="/static/assets/images/alumin.png" /></a>
    </div>
    <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
    <nav id="menu" class="main-nav" role="navigation">
      <ul class="main-menu">
        <li><a href="oldstudenthome">Home</a></li>
        <li><a href="{% url 'jobdetails' %}">Job details</a></li>
        <li><a href="{% url 'oldstudentfunddetails' %}">Funds</a></li>
        <li><a href="{% url 'index' %}">Logout</a></li>
      </ul>
    </nav>
  </header>


  <section class="section coming-soon" data-section="section3" style="height:40rem;">
    <div class="container">
        <div>
            <div class="right-content">
                <div class="top-content">

                    <center><h5 style="color:white;">Welcome {{id}}</h5></center>
                </div>

            </div>
        </div>
    </div>
    </div>
</section>
</body>

</html>