<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
        rel="stylesheet">

    <title>Grad School HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="/static/assets/css/lightbox.css">

</head>

<body>


    <!--header-->
    <header class="main-header clearfix" role="header">
        <div class="logo">
            <a href="#"><img src="/static/assets/images/alumin.png" /></a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href="{% url 'index' %}">Home</a></li>
                <li><a href="{% url 'studentlogin' %}">Student Login</a></li>

            </ul>
        </nav>
    </header>


    <section class="section coming-soon" data-section="section3">
        <div class="container">
            <div>
                <div class="right-content">
                    <div class="top-content">
                        <h6>STUDENT LOGIN PAGE</h6>
                    </div>

                    <form id="contact" action="{% url 'studentregistration' %}" method="post">
                        {% if messages %}
                        <ul class="messages">
                            {% for message in messages%}
                            <li style="color:white;" {% if message.tags %} class="{{ message.tags }}" {% endif %}>{{
                                message }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                        {% csrf_token %}
                        <div class="row">
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="studentname" type="text" class="form-control" id="text"
                                        placeholder="Student Name " style="text-align:center" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="studentrollno" type="text" class="form-control" id="rollno"
                                        placeholder="Student Roll Number" style="text-align:center" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="studentemail" type="text" class="form-control" id="studentemail"
                                        placeholder="Student Email" style="text-align:center" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <fieldset>
                                    <input name="phoneno" type="text" class="form-control" id="studentphoneno"
                                        placeholder="Student Contact Number" style="text-align:center" required="">
                                </fieldset>
                            </div>

                            <div class="col-md-12">
                                <fieldset>
                                    <input name="year" type="text" class="form-control" id="studentyear"
                                        placeholder="year" style="text-align:center" required="">
                                </fieldset>
                            </div>

                            <div class="col-md-12">
                                <fieldset>
                                    <select name="semister" class="col-md-12" style="text-align:center">
                                        <option value="none">Select Student Semister</option>
                                        <option value="first">First Semister</option>
                                        <option value="second">Second Semister</option>
                                    </select>
                                </fieldset>
                            </div>

                            <div class="col-md-12">
                                <fieldset>
                                    <input name="group" type="text" class="form-control" id="studentgroup"
                                        placeholder="group" style="text-align:center" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12">
                                <select name="studenttype" class="col-md-12" style="text-align:center">
                                    <option value="none">Select Student type</option>
                                    <option value="old">Old Students</option>
                                    <option value="persuing">Persuing</option>

                                </select>

                            </div>

                            <div class="col-md-12">
                                <select name="studentgender" class="col-md-12" style="text-align:center">
                                    <option value="none">Select Gender</option>
                                    <option value="male">Male</option>
                                    <option value="female">Female</option>
                                    <option value="other">Other</option>

                                </select>

                            </div>

                            <div class="col-md-12">
                                <fieldset>
                                    <input name="address" type="text" class="form-control" id="studentgroup"
                                        placeholder="Address" style="text-align:center" required="">
                                </fieldset>
                            </div>

                            <div class="col-md-12">
                                <fieldset>
                                    <input name="password" type="password" class="form-control" id="studentgroup"
                                        placeholder="password" style="text-align:center" required="">
                                </fieldset>
                            </div>




                            <div class="col-md-12">
                                <fieldset>
                                    <button type="submit" id="form-submit" class="btn btn-secondary">Register</button>
                                </fieldset>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        </div>
    </section>
</body>

</html>