<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
        rel="stylesheet">

    <title>Grad School HTML5 Template</title>

    <!-- Bootstrap core CSS -->
    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Additional CSS Files -->
    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="/static/assets/css/lightbox.css">

</head>

<body>


    <!--header-->
    <header class="main-header clearfix" role="header">
        <div class="logo">
            <a href="#"><img src="/static/assets/images/alumin.png" /></a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href="{% url 'studenthome' %}">Home</a></li>
                <li><a href="{% url 'index' %}">Logout</a></li>
            </ul>
        </nav>
    </header>


    <section class="section coming-soon" style="padding-top:220px;padding-bottom: 300px;">
        <div class="container">
            <div class="row">
                <div class="col">
                    <div class="top-content">
                        <div class="card" style="width: 18rem;">
                            <div class="card-body" style="overflow:scroll">
                                <h5 class="card-title" style="text-align:center"> Faculty </h5>
                                {% for i in dc %}

                                <center>
                                    <div class="mt-1">
                                        <a class="btn btn-outline-dark w-100" href="{% url 'studentfaculty' i.facultyid %}">{{i.Facultyname }}</a>

                                    </div>
                                </center>
                                {% endfor %}


                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
        </div>
    </section>
</body>

</html>