<!DOCTYPE html>
<html lang="en">

<head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700,800,900"
        rel="stylesheet">

    <title>Grad School HTML5 Template</title>

    <link href="/static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">


    <link rel="stylesheet" href="/static/assets/css/fontawesome.css">
    <link rel="stylesheet" href="/static/assets/css/templatemo-grad-school.css">
    <link rel="stylesheet" href="/static/assets/css/owl.css">
    <link rel="stylesheet" href="/static/assets/css/lightbox.css">

</head>

<body>
    <header class="main-header clearfix" role="header">
        <div class="logo">
            <a href="#"><img src="/static/assets/images/alumin.png" /></a>
        </div>
        <a href="#menu" class="menu-link"><i class="fa fa-bars"></i></a>
        <nav id="menu" class="main-nav" role="navigation">
            <ul class="main-menu">
                <li><a href="{% url 'adminhome' %}">Home</a></li>

                <li><a href="{% url 'index' %}">Logout</a></li>
              </ul>
        </nav>
    </header>



    <section class="section why-us" data-section="section2">
        <div class="container" style="margin-top:90px">
            <div class="row">
                <div class="col-md-12">
                    <table style="border: 2px;">
                        <tbody>
                            <tr>
                                {% for data in sql %}
                                <div id='tabs'>
                                    <section class='tabs-content'>


                                        <div class="row">

                                            <div class="col-md-6">
                                                <img src="/{{data.eventimage}}" alt="">
                                            </div>


                                            <div class="col-md-6">
                                                <p>Event Name   :   {{data.eventname}}</p>
                                                <p>Event Head   :   {{data.eventhead}}</p>
                                                <p>Contact   :   {{data.contact}}</p>
                                                <p>Event Date   :   {{data.eventdate}}</p>
                                                <p>Start Time   :   {{data.starttime}}</p>
                                                <p>End Time   :   {{data.endtime}}</p>
                                                <p>Address   :   {{data.address}}</p>
                                                <a href="{% url 'adminhome' %}" class="btn btn-primary">Back</a>
                                                <a href="{% url 'deleteevent' data.id %}" class="btn btn-primary">Delete</a>
                                            </div>


                                        </div>



                                    </section>
                                    {% endfor %}
                                </div>
                            </tr>

                        </tbody>
                </div>
                </table>
            </div>
        </div>
        </div>
    </section>
</body>

</html>